<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit film page</title>
</head>
<body>

<h1>Edit existing film</h1>

<form th:action="@{/admin/edit/success}" method="post">

    <input type="hidden" name="filmId" th:value="${filmId}">

    <label for="title">Title: </label>
    <input type="text" th:placeholder="${title}"
           th:value="${title}" id="title" name="title"><br><br>

    <label for="rating">Rating: </label>
    <input type="number" th:placeholder="${rating}"
           th:value="${rating}" step="0.1" id="rating" name="rating"><br><br>

    <label for="ticketPrice">Ticket price: </label>
    <input type="number" th:placeholder="${ticketPrice}"
           th:value="${ticketPrice}" step="0.1" id="ticketPrice" name="ticketPrice"><br><br>

    <label for="sessionTime">Session time: </label>
    <input type="text" th:placeholder="${sessionTime}"
           th:value="${sessionTime}" id="sessionTime" name="sessionTime"><br><br>

    <input type="submit" value="Edit">
</form>

</body>
</html>
