<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New film add page</title>
</head>
<body>

<h1>Add new film</h1>

<form th:action="@{/admin/new/status}" method="post">
    <label for="title">Title: </label>
    <input type="text" th:value="${title}"
           id="title" name="title"><br><br>

    <label for="rating">Rating: </label>
    <input type="number" th:value="${rating}" step="0.1" placeholder="0"
           id="rating" name="rating"><br><br>

    <label for="ticketPrice">Ticket price: </label>
    <input type="number" th:value="${ticketPrice}" step="0.1" placeholder="0"
           id="ticketPrice" name="ticketPrice"><br><br>

    <label for="sessionTime">Session time: </label>
    <input type="text" th:value="${sessionTime}"
           id="sessionTime" name="sessionTime"><br><br>

    <input type="submit" value="Add">
</form>

</body>
</html>
